[[source]]
url = 'https://pypi.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.8'

[packages]
cupy-cuda115 = '==10.6.0'
jupyter = '==1.0.0'
matplotlib = '==3.5.2'
mlxtend = '==0.20.0'
numpy = '==1.23.0'
pandas = '==1.4.3'
Pillow-SIMD = '==9.0.0.post1'
scikit-learn = '==1.1.1'
sentencepiece = '==0.1.96'
torch = '==1.11.0'
tqdm = '==4.64.0'

[dev-packages]
