[[source]]
url = 'https://pypi.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.11'

[packages]
cupy-cuda12x = '==11.6.0'
ipywidgets = '==8.0.5'
janome = '==0.4.2'
matplotlib = '==3.7.1'
mlxtend = '==0.21.0'
notebook = '==6.5.3'
numpy = '==1.24.2'
pandas = '==2.0.0'
Pillow-SIMD = '==9.0.0.post1'
scikit-learn = '==1.2.2'
sentencepiece = '==0.1.98'
torch = '==2.0.0'
torchaudio = '==2.0.1'
torchvision = '==0.15.1'
tqdm = '==4.65.0'

[dev-packages]
