[[source]]
url = 'https://pypi.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.10'

[packages]
cupy-cuda115 = '==10.6.0'
jupyter = '==1.0.0'
matplotlib = '==3.7.0'
mlxtend = '==0.21.0'
numpy = '==1.24.1'
pandas = '==1.5.3'
Pillow-SIMD = '==9.0.0.post1'
scikit-learn = '==1.2.1'
sentencepiece = '==0.1.97'
torch = '==1.13.1'
tqdm = '==4.64.1'

[dev-packages]
